<% content_for(:title, "Animals | Master List") %>
<h1>Animals</h1>

<ul>
  <% @animals.each do |animal| %>
    <li><%= link_to animal.kind, animal_path(animal) %></li>
  <% end %>
</ul>

<%= image_tag "trees.jpeg" %>
