<div class="card" style="text-align:center;margin:10px;border:1px solid black;width:800px;margin:0 auto;">
  <div class="card-header">
    <h2>Hey there, Friend. What's your favorite animal?</h2>
  </div>

  <%= render "form" %>

  <p><%= link_to "HOME", animals_path %></p>
</div>
